<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DHONI</h1>
        <h1>welcome to dhoni HTML PAGE</h1>
        <P><h4>Dhoni brought to captaincy a thick skin and relative indifference to results that an Indian captain needs to keep the job for long. Along with coach Gary Kirsten, he put his senior performers in...</h4></P>
        <h1><a href="{% url 'app:virat' %}">Go to virat</a></h1>
        <h1><a href="{% url 'app2:naveenkumar' %}">Go to naveenkumar</a></h1>
        <h1><a href="{% url 'app2:pradeepnarwal' %}">Go to pradeepnarwal</a></h1>
    </center>
</body>
</html>