<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>NAVEENKUMAR</h1>
        <h1>welcome to naveenkumar HTML PAGE</h1>
        <p><h4>Naveen Kumar is a culture critic and journalist whose recent work appears on them.us, The Daily Beast, and Vox. He's a contributing theatre critic for The New York Times, Variety, and Broadway....</h4></p>
        <h1><a href="{% url 'app2:pradeepnarwal' %}">Navigate to pradeepnarwal</a></h1>
        <h1><a href="{% url 'app:virat' %}">Go to virat</a></h1>
        <h1><a href="{% url 'app:dhoni' %}">Go to dhoni</a></h1>
    </center>
</body>
</html>