
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>PRADEEPNARWAL</h1>
        <h1>welcome to pradeep narwal HTML PAGE</h1>
        <P><h4>Pardeep Narwal once again created history as UP Yoddha won the bidding for the Dubki King for a record-breaking amount of 1.65 Cr on Day 2 of the PKL Auction 2021.</h4></P>
        <h1><a href="{% url 'app2:naveenkumar' %}">Go to naveenkumar</a></h1>
        <h1><a href="{% url 'app:virat' %}">Go to virat</a></h1>
        <h1><a href="{% url 'app:dhoni' %}">Go to dhoni</a></h1>
    </center>
</body>
</html>