<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>VIRAT</h1>
        <h1>welcome to virat HTML PAGE</h1>
        <P><h4>Virat Kohli is pumped up after getting to his maiden Test ton Getty Images. No matter how many glittering 44s and 72s you score, though, a lack of hundreds over such a long period can dim the halo ...</h4>
        </P>
            <h1><a href="{% url 'app:dhoni' %}">Navigate to dhoni</a></h1>
            <h1><a href="{% url 'app2:naveenkumar' %}">Go to naveenkumar</a></h1>
            <h1><a href="{% url 'app2:pradeepnarwal' %}">Go to pradeepnarwal</a></h1>
    </center>
</body>
</html>